.btn {
    padding: 10px;
    color: #505050;
    font-size: 14px;
    background: white;
    border: none;
    margin: 2px;
    font-family: sans-serif;
    border-radius: 5px;
    max-width: 100px;
    display: inline;

    &.danger {
        background: #c14848;
        color: #ffffff;
    }
}
